body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.search {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

h2 {
    font-size: 18px;
    color: #666;
    margin-bottom: 15px;
}

#weather-form input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin-bottom: 15px;
    outline: none;
    box-sizing: border-box;
}

#weather-form input[type="text"]:focus {
    border-color: #6cd76c;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #6cd76c;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    box-sizing: border-box;
}

button:hover {
    background-color: #5bc85b;
    transition: 0.3s;
}

button:active {
    background-color: #3c983c;
    transition: 0.3s;
}